<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Beneficios y características</h3>
        </div>
        
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <div class="contentBox contentBox--noBackg contentBox--noPadding">
            <div class="benefits__container">
                    <div class="benefits__item">
                        <img src="../images/Path2249.svg" alt="Beneficio">
                        <p>
                            Reciba la carta de aprobación de un cupo de 
                            crédito para comprar la casa que siempre soñó.
                        </p>
                    </div>
                    <div class="benefits__item">
                        <img src="../images/Group5875.svg" alt="Beneficio">
                        <p>
                            Conozca el cupo de crédito sin necesidad de
                            tener seleccionado el inmueble.
                        </p>
                    </div>
                    <div class="benefits__item">
                        <img src="../images/Group7156.svg" alt="Beneficio">
                        <p>
                            Utilice su cupo aprobado entre nuestros productos 
                            de Crédito Hipotecario o Leasing Habitacional.
                        </p>
                    </div>
                    <div class="benefits__item">
                        <img src="../images/Group1.svg" alt="Beneficio">
                        <p>
                            Consulte el estado en que se encuentra su crédito 
                            a través de este canal.
                        </p>
                    </div>
                    <div class="benefits__item">
                        <img src="../images/Group555.svg" alt="Beneficio">
                        <p>
                            Cuenta con seguro de vida, incendio y terremoto 
                            para cubrir el saldo de la deuda y proteger su patrimonio.
                        </p>
                    </div>
                    <div class="benefits__item">
                        <img src="../images/Group4176.svg" alt="Beneficio">
                        <p>
                            Conozca las características de nuestros productos 
                            de vivienda y cómo solicitar su aprobación <a href="javascript:void(0)">aquí.</a>
                        </p>
                    </div>

            </div>
        </div>
        <div class="contButtons contButtons--noMrgn">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
    </section>
</body>

</html>