<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Simulación</h3>
        </div>
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <div class="contentBox">
            <div class="simulation__container">
                <p class="container__title"><b>Valor del crédito:</b></p>
                <div class="simulation__secundary">
                    <div class="secundary__title">
                        <b>$50.000.000</b> en un plazo de <b>180 meses</b>
                    </div>
                    <div class="secundary__containerEnd">
                        <div class="image">
                            <img src="../images/Viviendasimulacion.png" alt="" class="img">
                        </div>
                        <div class="secundary__title">
                            <b>Cuota mensual aproximada con seguros:</b>
                            <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                            <div class="tooltip">
                                <p>
                                    El valor de la cuota mensual aproximada 
                                    corresponde a una simulación del crédito 
                                    realizada con los datos ingresados en el 
                                    simulador e incluye los seguros de vida  e incendio y terremoto, con pólizas colectivas. 
                                    <br>
                                    <br>
                                    Esta cuota puede presentar variaciones 
                                    con respecto a la cuota definitiva del crédito.
                                </p>
                            </div>
                        </div>
                        <hr class="barTopTwo">
                        <div class="container__groupText">
                            <div class="iconImage">
                                <img src="../images/star.svg" alt="">
                            </div>
                            <div class="endTitle">
                                <div class="text">Leasing habitacional:
                                    <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                                    <div class="tooltip">
                                        <p>
                                            <b>Leasing Habitacional</b> 
                                            <br>
                                            <br>
                                            Esta es la cuota mensual calculada en pesos con una opción de compra del 0%. Recuerde que este valor no puede superar el equivalente al 30% de sus 
                                            ingresos mensuales.
                                            <br>
                                            <br>
                                            <b>Valor total unificado (VTU): $102.836.664</b> 
                                            <br>
                                            <br>
                                            Este valor resulta de la sumatoria 
                                            proyectada del capital, intereses y seguro 
                                            de vida que serán pagados a Davivienda 
                                            durante el plazo del crédito. 
                                            <br>
                                            <br>
                                            Capital: $50.000.000<br>
                                            Intereses: $46.946.164<br>
                                            Seguros: $5.890.500 
                                            <br>
                                            <br>
                                            Este valor es susceptible de disminución en 
                                            los casos de pago anticipado parcial o total 
                                            del crédito.
                                        </p>
                                    </div>
                                </div> 
                                <div class="subText">Mejor opción</div>
                            </div>
                            <p class="endMoney">$622.044</p>
                            <p class="endInterest">Tasa:<b> 0,85% MV</b> ( 10.75% EA)</p>
                            <p class="endMin">Valor mínimo del inmueble: <b>$111.795.660</b></p>
                        </div>
                        <hr class="centerBar">
                        <div class="container__groupText">
                            <span class="icon-dv-listItemB icon"></span>
                            <div class="endTitle">
                                <div class="text">Hipotecario: 
                                    <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                                    <div class="tooltip">
                                        <p>
                                            <b>Hipotecario</b> 
                                            <br>
                                            <br>
                                            Esta cuota es calculada en pesos, no 
                                            puede superar el equivalente al 30% de su ingreso mensual.
                                            <br>
                                            <br>
                                            <b>Valor total unificado (VTU): $106.814.416</b> 
                                            <br>
                                            <br>
                                            Este valor resulta de la sumatoria 
                                            proyectada del capital, intereses y seguro 
                                            de vida que serán pagados a Davivienda 
                                            durante el plazo del crédito. 
                                            <br>
                                            <br>
                                            Capital: $50.000.000<br>
                                            Intereses: $50.923.916<br>
                                            Seguros: $5.890.500 
                                            <br>
                                            <br>
                                            Este valor es susceptible de disminución en 
                                            los casos de pago anticipado parcial o total 
                                            del crédito.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="endMoney">$643.044</p>
                            <p class="endInterest">Tasa:<b> 0,91% MV</b> ( 11.50% EA)</p>
                            <p class="endMin">Valor mínimo del inmueble: <b>$71.428.571</b></p>
                        </div>
                    </div>
                </div>
                <a href="" class="contVideo">
                    <img src="../images/Grupo4176.svg" alt="">
                    <p class="video">
                        Conozca los beneficios de Leasing habitacional
                    </p>
                </a>
                <p class="secundary__textDown">
                    Una vez haya encontrado el inmueble que desea comprar, <b>podrá elegir entre estos dos tipos de financiación</b>
                </p>
            </div>
        </div>
        <div class="contButtons">
            <p class="textButton">La tasa con la que se liquidará su crédito será la <b>vigente del día del desembolso.</b></p>
            <button type="button" class="button button--secondary">Volver a simular</button>
            <button type="button" class="button button--primary">Empezar solicitud</button>
        </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>