<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Asegurabilidad</h3>
        </div>
        
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <div class="contentBox">
            <div class="selection__container">
                <h2 class="regular noMrgnTop">El crédito incluye dos seguros obligatorios que protegen su patrimonio, estos valores ya fueron incluidos en la simulación anterior. <b>Para continuar con su solicitud:</b></h2>
                <div class="container--intBackGray">
                    <div class="container--titleInput">
                        <p>Seleccione un seguro de vida: </p>
                        <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                        <div class="tooltip">
                            <p>
                                La prima mensual del seguro de vida, está siendo calculada tomando como referencia el valor total del crédito y su edad.
                            </p>
                        </div>
                    </div>
                    <form>
                        <div class="input">
                            <label class="radio radio--optionCard radio--optionCard--toggle">
                                <input type="radio" value="" name="optionCard"> 
                                <div class="radio__indicator"></div>
                                <div class="optionCard__info">
                                    <span><b>Aseguradora Solidaria.</b>
                                        <br>Póliza colectiva de Vida
                                        <br>Valor prima mensual: <b>$11.100</b> 
                                    </span>
                                </div>
                                <div class="optionCard__image">
                                    <img src="../images/solidaria.png" alt="" style="position: relative;right: 40%;">
                                </div>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seemore--firstCard"> <span class="icon-dv-arrowDownBG icon"></span>Características</a>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seeless--firstCard" style="display: none;"> <span class="icon-dv-arrowDownBG icon icon--isToggle"></span>Características</a>
                            </label>
                            <div class="optionCard__extraInfo optionCard__extraInfo--toggle" id="firstCard" style="display: none;">
                                <br>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>En caso de fallecimiento o incapacidad total y permanente, cubrirá el saldo de su deuda.</span>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <label class="radio radio--optionCard radio--optionCard--toggle last">
                                <input type="radio" value="" name="optionCard"> 
                                <div class="radio__indicator"></div>
                                <div class="optionCard__info">
                                    <span><b>Seguros Bolívar</b>
                                        <br>Póliza individual de Vida
                                        <br>Valor prima mensual: <b>$10.658</b> 
                                    </span>
                                </div>
                                <div class="optionCard__image">
                                    <img src="../images/bolivar.png" alt="">
                                </div>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seemore--secondCard"> <span class="icon-dv-arrowDownBG icon"></span>Características</a>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seeless--secondCard" style="display: none;"> <span class="icon-dv-arrowDownBG icon icon--isToggle"></span>Características</a>
                            </label>
                            <div class="optionCard__extraInfo optionCard__extraInfo--toggle" id="secondCard" style="display: none;">
                                <br>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>En caso de fallecimiento o incapacidad total y permanente, cubrirá el saldo de su deuda.</span>
                                </div>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>En caso de una hospitalización mayor o igual a 5 días recibirá un auxilio para sus gastos.</span>
                                </div>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>En caso de ser diagnosticado con cáncer invasivo, recibirá el pago de 3 cuotas del crédito.</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <hr class="centerBar">
                <div class="container--intBackGray">
                    <div class="container--titleInput">
                        <p>Seleccione un Seguro de incendio y terremoto: </p>
                        <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                        <div class="tooltip">
                            <p>
                                La prima mensual del seguro hogar está siendo calculada con un valor estimado del inmueble. 
                                Este se obtuvo tomando como referencia el monto del crédito solicitado.
                            </p>
                        </div>
                    </div>
                    <form>
                        <div class="input">
                            <label class="radio radio--optionCard radio--optionCard--toggle">
                                <input type="radio" value="" name="optionCard"> 
                                <div class="radio__indicator"></div>
                                <div class="optionCard__info">
                                    <span><b>Seguros Bolívar</b>
                                        <br>Póliza Colectiva.
                                        <br>Valor prima mensual: <b>$19.944</b> 
                                    </span>
                                </div>
                                <div class="optionCard__image">
                                    <img src="../images/bolivarindividual.png" alt="" style="position: relative;right: 40%;">
                                </div>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seemore--threeCard"> <span class="icon-dv-arrowDownBG icon"></span>Características</a>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seeless--threeCard" style="display: none;"> <span class="icon-dv-arrowDownBG icon icon--isToggle"></span>Características</a>
                            </label>
                            <div class="optionCard__extraInfo optionCard__extraInfo--toggle" id="threeCard" style="display: none;">
                                <br>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>En caso de incendio, terremoto, erupción volcánica, maremoto y/o tsunamis, cubrirá los daños de su inmueble.</span>
                                </div>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>Cubre su hogar frente a actos mal intencionados de terceros.</span>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <label class="radio radio--optionCard radio--optionCard--toggle last">
                                <input type="radio" value="" name="optionCard"> 
                                <div class="radio__indicator"></div>
                                <div class="optionCard__info">
                                    <span><b>Seguros Bolívar</b>
                                        <br>Póliza individual.
                                        <br>Valor prima mensual: <b>$19.944</b>
                                    </span>
                                </div>
                                <div class="optionCard__image">
                                    <img src="../images/bolivarcolectiva.png" alt="" style="position: relative;right: 50%;">
                                </div>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seemore--fourCard"> <span class="icon-dv-arrowDownBG icon"></span>Características</a>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seeless--fourCard" style="display: none;"> <span class="icon-dv-arrowDownBG icon icon--isToggle"></span>Características</a>
                            </label>
                            <div class="optionCard__extraInfo optionCard__extraInfo--toggle" id="fourCard" style="display: none;">
                                <br>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>En caso de incendio, terremoto, erupción volcánica, maremoto y/o tsunamis, cubrirá los daños de su inmueble.</span>
                                </div>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>Cubre su hogar frente a actos mal intencionados de terceros.</span>
                                </div>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>Cubre los gastos que se deriven por su responsabilidad frente a lesiones o daños materiales ocasionados a terceros en desarrollo de la vida familiar.</span>
                                </div>
                                <div class="item">
                                    <span class="icon-dv-listItemB icon"></span>
                                    <span>Asistencia por daños en plomería, electricidad, gas domiciliario, cerrajería o vidrios.</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="contButtons">
            <p class="textButton">Si cuenta con otra póliza que cumpla con las condiciones mínimas establecidas por Davivienda, podrá cambiarla una vez haya seleccionado el inmueble que desea comprar.</p>
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        </div>
    </section>
    <script type="text/javascript">
        document.getElementById('seemore--firstCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seeless--firstCard').style.display = '';
            document.getElementById('firstCard').style.display = '';
        }
        document.getElementById('seeless--firstCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seemore--firstCard').style.display = '';
            document.getElementById('firstCard').style.display = 'none';
        }

        document.getElementById('seemore--secondCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seeless--secondCard').style.display = '';
            document.getElementById('secondCard').style.display = '';
        }
        document.getElementById('seeless--secondCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seemore--secondCard').style.display = '';
            document.getElementById('secondCard').style.display = 'none';
        }

        document.getElementById('seemore--threeCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seeless--threeCard').style.display = '';
            document.getElementById('threeCard').style.display = '';
        }
        document.getElementById('seeless--threeCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seemore--threeCard').style.display = '';
            document.getElementById('threeCard').style.display = 'none';
        }

        document.getElementById('seemore--fourCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seeless--fourCard').style.display = '';
            document.getElementById('fourCard').style.display = '';
        }
        document.getElementById('seeless--fourCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seemore--fourCard').style.display = '';
            document.getElementById('fourCard').style.display = 'none';
        }
    </script>
</body>

</html>