<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="css/utils/rangeSlider/rangeslider.min.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Asegurabilidad</h3>
        </div>

        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <div class="contentBox">
            <div class="inquiry__container">
                <h2 class="regular noMrgnTop">Las siguientes preguntas tienen como propósito identificar su estado actual de salud para determinar las condiciones de su seguro de vida.
                        <img src="../images/shield (1).png"></h2>
                <div class="container">
                    <form action="" class="question">
                        <a href="javascript:void(0)" class="question__ConfirToggle optionCard__seeMore clicked" id="seemore--firstCard" style="display: none;">Pregunta 1 de 3<span class="icon-dv-showMore icon icon--isToggle"></span></a>
                        <a href="javascript:void(0)" class="question__ConfirToggle optionCard__seeMore clicked" id="seeless--firstCard">Pregunta 1 de 3<span class="icon-dv-showLess icon icon--isToggle"></span></a>
                        <div class="question__Confir__item--hidden" id="firstCard" style="display: block;">
                            <div class="title">
                                ¿Le han diagnosticado o ha sufrido alguna 
                                de las siguientes enfermedades?
                            </div>
                            <hr>
                            <div class="data">
                                <div class="text">
                                    Accidente cerebrovascular, 
                                    trombosis, enfermedad de las arterias
                                    o venas, derrame cerebral, o artritis.
                                </div>
                                <div class="contRadio">
                                    <div class="radioInput">
                                        <div class="input">
                                            <div class="inputCont"> 
                                                <p>Sí</p>   
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-one"> 
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                            <div class="inputCont">
                                                <p>No</p>
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-one">
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="data">
                                <div class="text">
                                    Diabetes o enfermedades 
                                    cardiovasculares.
                                </div>
                                <div class="contRadio">
                                    <div class="radioInput">
                                        <div class="input">
                                            <div class="inputCont"> 
                                                <p>Sí</p>   
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-two"> 
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                            <div class="inputCont">
                                                <p>No</p>
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-two">
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="data">
                                <div class="text">
                                    Algún tipo de cáncer, leucemia o 
                                    linfoma.
                                </div>
                                <div class="contRadio">
                                    <div class="radioInput">
                                        <div class="input">
                                            <div class="inputCont"> 
                                                <p>Sí</p>   
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-three"> 
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                            <div class="inputCont">
                                                <p>No</p>
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-three">
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="data">
                                <div class="text">
                                    VIH positivo SIDA.
                                </div>
                                <div class="contRadio">
                                    <div class="radioInput">
                                        <div class="input">
                                            <div class="inputCont"> 
                                                <p>Sí</p>   
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-four"> 
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                            <div class="inputCont">
                                                <p>No</p>
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-four">
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="data">
                                <div class="text">
                                    Depresión o ansiedad en los últimos
                                    10 años.
                                </div>
                                <div class="contRadio">
                                    <div class="radioInput">
                                        <div class="input">
                                            <div class="inputCont"> 
                                                <p>Sí</p>   
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-five"> 
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                            <div class="inputCont">
                                                <p>No</p>
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-five">
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" class="question">
                            <a href="javascript:void(0)" class="question__ConfirToggle optionCard__seeMore clicked" id="seemore--secondCard">Pregunta 2 de 3<span class="icon-dv-showMore icon icon--isToggle"></span></a>
                            <a href="javascript:void(0)" class="question__ConfirToggle optionCard__seeMore clicked" id="seeless--secondCard" style="display: none;">Pregunta 2 de 3<span class="icon-dv-showLess icon icon--isToggle"></span></a>
                            <div class="question__Confir__item--hidden" id="secondCard" style="display: none;">
                            <div class="data">
                                <div class="text">
                                    ¿Tiene pérdida física o funcional de
                                    alguno de sus brazos, piernas, ojos
                                    u oídos?
                                </div>
                                <div class="contRadio">
                                    <div class="radioInput">
                                        <div class="input">
                                            <div class="inputCont"> 
                                                <p>Sí</p>   
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-six"> 
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                            <div class="inputCont">
                                                <p>No</p>
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-six">
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" class="question">
                            <a href="javascript:void(0)" class="question__ConfirToggle optionCard__seeMore clicked" id="seemore--threeCard">Pregunta 3 de 3<span class="icon-dv-showMore icon icon--isToggle"></span></a>
                            <a href="javascript:void(0)" class="question__ConfirToggle optionCard__seeMore clicked" id="seeless--threeCard" style="display: none;">Pregunta 3 de 3<span class="icon-dv-showLess icon icon--isToggle"></span></a>
                            <div class="question__Confir__item--hidden" id="threeCard" style="display: none;">
                            <div class="data">
                                <div class="text">
                                    En los últimos 5 años, ¿ha recibido
                                    tratamiento con medicamentos, 
                                    terapias o psicoterapia por más 
                                    de 6 meses?
                                </div>
                                <div class="contRadio">
                                    <div class="radioInput">
                                        <div class="input">
                                            <div class="inputCont"> 
                                                <p>Sí</p>   
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-seven"> 
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                            <div class="inputCont">
                                                <p>No</p>
                                                <label class="radio">
                                                    <input type="radio" value="" name="dir-seven">
                                                    <div class="radio__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="contButtons">
            <p class="textButton">Las respuestas que indicó deben ser ciertas, cualquier falta a la verdad causa la nulidad del contrato de seguro (Art. 1058 y 1158 Código de Comercio)</p>
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
    </section>
    <script type="text/javascript">
    
        document.getElementById('seemore--firstCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seeless--firstCard').style.display = '';
            document.getElementById('firstCard').style.display = '';
        }
        document.getElementById('seeless--firstCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seemore--firstCard').style.display = '';
            document.getElementById('firstCard').style.display = 'none';
        }

        document.getElementById('seemore--secondCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seeless--secondCard').style.display = '';
            document.getElementById('secondCard').style.display = '';
        }
        document.getElementById('seeless--secondCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seemore--secondCard').style.display = '';
            document.getElementById('secondCard').style.display = 'none';
        }

        document.getElementById('seemore--threeCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seeless--threeCard').style.display = '';
            document.getElementById('threeCard').style.display = '';
        }
        document.getElementById('seeless--threeCard').onclick=function(){
            this.style.display = 'none';
            document.getElementById('seemore--threeCard').style.display = '';
            document.getElementById('threeCard').style.display = 'none';
        }
    </script>
</body>
</html>