<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Estudio de crédito</h3>
        </div>
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <h2 class="noMrgnBottom center">Ingrese el valor del crédito que desea tomar:</h2>
        <div class="contentBox">
            <div class="studyCreditMore__container">
                <div class="container container--intBackGray container--intBackGrayAlpha">
                    <form action="">
                        <div class="input">
                            <!--Se elimina el disable en el input text-->
                            <input type="text" id="adressDefault" value="$80.000.000" maxlength="8">
                            <a href="javascript:void(0)" title="Editar" class="input__buttonAction" id="triggerChangeAddress"><span class="icon-dv-edit"></span></a>
                            <div class="" id="adressAltern" style="display: none;">
                                <input type="text" value="$80.000.000">
                            </div>
                        </div>
                    </form>
                    <h2 class="regular center noMrgnBottom">Ingrese un valor entre $50 y $80 millones</h2>
                </div>
                <div class="joinForm joinForm--colorAlpha">
                    <h2 class="regular center noMrgn">En un plazo de <b>180 meses</b></h2>
                </div>
                <h2 class="center noMrgnBottom">Cuota mensual aproximada con seguros:</h2>
                <hr class="lineTop">
                <div class="containerData">
                    <div class="text">
                        <div class="item">
                            <div class="itemIcon">
                                <img src="../images/star.svg" alt=""  class="iconImage">
                            </div>
                            <div class="containerText">
                                <div class="title">Leasing habitacional: $622.044 
                                    <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                                    <div class="tooltip">
                                        <p>
                                            <b>Hipotecario no VIS</b>
                                            <br><br>
                                            Esta cuota es calculada en pesos, no puede superar el equivalente al 30% de su ingreso mensual.
                                            <br><br><br>
                                            <b>Valor total unificado (VTU): $232.214.416</b>
                                            <br><br>
                                            Este valor resulta de la sumatoria 
                                            proyectada del capital, intereses y seguro 
                                            de vida que serán pagados a Davivienda 
                                            durante el plazo del crédito. 
                                            <br><br>
                                            Capital: $120.000.000<br>
                                            Intereses: $124.923.916<br>
                                            Seguros: $8.105.500 
                                            <br><br>
                                            Este valor es susceptible de disminución en 
                                            los casos de pago anticipado parcial o total 
                                            del crédito.
                                        </p>
                                    </div> 
                                </div>
                                <p>Tasa: <b>0,85% MV</b> ( 10.75% EA)</p>
                                <p>Valor mínimo del inmueble: <b>$124.217.400</b></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text">
                        <div class="item">
                            <div class="itemIcon">
                                <span class="icon-dv-listItemB icon"></span>
                            </div>
                            <div class="containerText">
                                <div class="title">Hipotecario: 
                                    <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                                    <div class="tooltip">
                                        <p>
                                            <b>Hipotecario no VIS</b>
                                            <br><br>
                                            Esta cuota es calculada en pesos, no puede superar el equivalente al 30% de su ingreso mensual.
                                            <br><br><br>
                                            <b>Valor total unificado (VTU): $232.214.416</b>
                                            <br><br>
                                            Este valor resulta de la sumatoria 
                                            proyectada del capital, intereses y seguro 
                                            de vida que serán pagados a Davivienda 
                                            durante el plazo del crédito. 
                                            <br><br>
                                            Capital: $120.000.000<br>
                                            Intereses: $124.923.916<br>
                                            Seguros: $8.105.500 
                                            <br><br>
                                            Este valor es susceptible de disminución en 
                                            los casos de pago anticipado parcial o total 
                                            del crédito.
                                        </p>
                                    </div>    
                                </div>
                                <p class="br"></p>
                                <div class="subTitle">VIS $643.044 
                                    <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                                    <div class="tooltip">
                                        <p>
                                            <b>Hipotecario no VIS</b>
                                            <br><br>
                                            Esta cuota es calculada en pesos, no puede superar el equivalente al 30% de su ingreso mensual.
                                            <br><br><br>
                                            <b>Valor total unificado (VTU): $232.214.416</b>
                                            <br><br>
                                            Este valor resulta de la sumatoria 
                                            proyectada del capital, intereses y seguro 
                                            de vida que serán pagados a Davivienda 
                                            durante el plazo del crédito. 
                                            <br><br>
                                            Capital: $120.000.000<br>
                                            Intereses: $124.923.916<br>
                                            Seguros: $8.105.500 
                                            <br><br>
                                            Este valor es susceptible de disminución en 
                                            los casos de pago anticipado parcial o total 
                                            del crédito.
                                        </p>
                                    </div> 
                                </div>
                                <p>Tasa: <b>0,91% MV</b> ( 11.50% EA)</p>
                                <p>Valor mínimo del inmueble: <b>$71.428.571</b></p>
                                <p class="br"></p>
                                <div class="subTitle">No VIS $645.000 
                                    <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                                    <div class="tooltip">
                                        <p>
                                            <b>Hipotecario no VIS</b>
                                            <br><br>
                                            Esta cuota es calculada en pesos, no puede superar el equivalente al 30% de su ingreso mensual.
                                            <br><br><br>
                                            <b>Valor total unificado (VTU): $232.214.416</b>
                                            <br><br>
                                            Este valor resulta de la sumatoria 
                                            proyectada del capital, intereses y seguro 
                                            de vida que serán pagados a Davivienda 
                                            durante el plazo del crédito. 
                                            <br><br>
                                            Capital: $120.000.000<br>
                                            Intereses: $124.923.916<br>
                                            Seguros: $8.105.500 
                                            <br><br>
                                            Este valor es susceptible de disminución en 
                                            los casos de pago anticipado parcial o total 
                                            del crédito.
                                        </p>
                                    </div> 
                                </div>
                                <p>Tasa: <b>0,95% MV</b> ( 11.50% EA)</p>
                                <p>Valor mínimo del inmueble: <b>$71.428.571</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="regular center">Una vez haya encontrado el inmueble que desea comprar,
                    <b>podrá elegir entre estos dos tipos de financiación</b>
                </h2>
            </div>
        </div>
        <div class="contButtons">
            <button type="button" class="button button--secondary">Volver a calcular</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>