<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jsCertificacionIngresos.js"></script>
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="containerAdjunto">

        <!-- #region Header descktop-->
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Certificación de ingresos</h3>
        </div>
        <!-- #endregion Header descktop-->

        <!-- #region Btn Atras-->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- #endregion Btn Atras-->
      
        <!-- #region previsualizacion-->
        <div class="vistaAdjuntoPdf">
            <div class="DivPdf">
                <img class="DivPdf__img" src="../images/foto-ejemplo6.jpg" alt="">
                <div class="descPdf">
                    <img src="../images/proyecto-de-ley.svg" class="descPdf__img" alt="">
                    <label for="" class="descPdf__p">Nombre del pdf</label>
                </div>
            </div>
        </div>
        <!-- #endregion previsualizacion-->



        <!-- #region btn Continuar-->
        <div class="contButtons">
            <button type="button" class="button button--secondary">Cargar de nuevo</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- #endregion btn Continuar-->
    </section>

</body>

</html>