<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    
    <!-- #region modal-->
    <section class="contModal contModal--isShow" id="modalValoracionMedica">
        <div class="modal modal--certificado2">
            <h1 class="modal__tBold">¿Qué sigue?</h1>
            <!-- #region card-->
            <div class="bodyCard">
                <h2>Estamos evaluando los documentos.</h2>
                <img src="../images/Group7156.svg" class="bodyCard__img" alt="">
                <hr>
                <p>
                    Debido a un proceso de verificación adicional <br>
                    recibirá la respuesta con el resultado en un  <br>
                    <strong>máximo de dos diás habiles.</strong>
                </p>
            </div>
            <!-- #endregion card-->

            <!-- #region boton-->
            <div class="contButtons contButtons--modal">
                <button type="button" class="button button--certifica button--primary">Aceptar</button>
            </div>
            <!-- #endregion boton-->
        </div>
    </section>
    <!-- #endregion modal-->

</body>

</html>