<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jsCertificacionIngresos.js"></script>
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- #region Header descktop-->
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Certificación de ingresos</h3>
        </div>
        <!-- #endregion Header descktop-->

        <!-- #region Btn Atras-->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- #endregion Btn Atras-->

        <!-- #region Nav indicador-->
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <!-- #endregion indicador-->
        
        
        <h1 class="center noMrgnBottom">Proceso de certificación de ingresos</h1>
        <div class="contentBox">
            <div class="information__container">
                <p class="certificadp__title certificadp__title--bot0">
                    Identificamos inconsistencias en su <strong>declaración de 
                    renta,</strong> es necesario que la <strong>adjunte de nuevo según 
                    las siguientes observaciones: </strong>
                </p>
                <form>
                    <!-- #region subSeccion subirArchivos-->
                    <div id="quest2sub1" class="cardArchivos">

                        <div class="infoExtractos infoExtractos--top0">
                            <div class="infoExtractos__lista">
                                <img src="../images/Trazado_4258.svg" alt="">
                                <p>Observaciones de su declaración de renta:</p>
                            </div>
                            <ul>
                                <li>Su colilla de pensión tiene mas de 30 días de expedido.</li>
                                <li>Su colilla de pensión debe corresponder al titular.</li>
                                <li>Su colilla de pensión debe incluir el tipo de contrato. Este texto puede ser remplazado</li>
                            </ul>
                        </div>

                        <hr>

                        <div class="cardArchivos__lista">
                            <img src="../images/Trazado_4258.svg" alt="">
                            <p>Adjunte de nuevo su declaración de renta del 
                                último año gravable: </p>
                        </div>

                        <!-- #region subArchivps-->
                        <div id="doc1" class="input2 input2--sub">
                            <div id="subDoc1" class="contArchivos contArchivos--top5">
                                <div class="divImgArchivos camaraNon" onclick="archivoAdjunto2(1); activarBtn()">
                                    <img src="../images/camera.svg" alt="">
                                    <p class="divImgArchivos__p">Tomar foto</p>
                                </div>
                                <div class="divImgArchivos" onclick="archivoAdjunto2(1); activarBtn()">
                                    <img src="../images/paperclip.svg" alt="">
                                    <p class="divImgArchivos__p">
                                        Adjuntar <br>
                                        Declaración
                                    </p>
                                </div>
                            </div>
                            <div id="docAdj1" class="archivosAdjuntos archivosAdjuntos--top5 ocultar">
                                <img src="../images/Trazado_4346.svg" class="archivosAdjuntos__check" alt="verificacion adjutos">
                                <p class="archivosAdjuntos__p">Declaración de renta adjuntada</p>
                                <img src="../images/icon-dv-delete.svg" class="archivosAdjuntos__delete" alt="eliminar archivos" onclick="eliminarAdjunto(1); desactivarBtn()">
                            </div>
                        <!-- #endregion subArchivps-->
                        


                    </div>
                        <!-- #endregion subSeccion subirArchivos-->
                    
                </form>
            </div>
        </div>
    </section>

    <!-- #region btn Continuar-->
    <div class="contButtons contButtons--form">
        <button type="button" class="button button--secondary button--back">Regresar</button>
        <button id="btn" type="button" class="button button--primary">Continuar</button>
    </div>
    <!-- #endregion btn Continuar-->

</body>

</html>