<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jsCertificacionIngresos.js"></script>
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="contFoto">
        <img src="../images/foto-ejemplo.jpg" alt="">
    </section>
    <section class="tomarFoto">
        <h1 class="tomarFoto__titulo">
            Tome la foto de su <strong>declaración de renta para</strong>
            <br>
            continuar con el proceso.
        </h1>
        <div class="tomarFoto__foto">
            <input type="button">
        </div>
    </section>

</body>

</html>