<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    
    <!-- #region modal-->
    <section class="contModal contModal--isShow" id="modalValoracionMedica">
        <div class="modal modal--certificado">
            <div class="bodyAlert">
                <p>Permitir a Davivienda el acceso 
                    <br>
                    a la cámara de fotos.</p>
            </div>
            <div class="contButtons">
                <button type="button" class="button button--certifica button--secondary">No permitir</button>
                <button type="button" class="button button--primary">Permitir</button>
            </div>
        </div>
    </section>
    <!-- #endregion modal-->

</body>

</html>