<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Cobertura</h3>
        </div>
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <div class="contentBox">
            <div class="simulation__container">
                <form>
                    <div class="input">
                        <p class="secundary__title left">Consulte si la ciudad en donde se encuentra el
                            inmueble, puede hacer uso de su cupo de crédito:</p>
                        <div class="input">
                            <input type="text" id="ciudadCobertura" value="" placeholder="Ingrese el nombre de la ciudad">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
    </section>
    <script src="../js/main.js"></script>
    <script>
        selectOptionsOneView = () => {
            document.getElementById('option2').style.display='none';
            document.getElementById('option1').style.display='block';
        }
        selectOptionsTwoView = () => {
            document.getElementById('option1').style.display='none';
            document.getElementById('option2').style.display='block';
        }
    </script>
</body>
</html>