<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jsCertificacionIngresos.js"></script>
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="containerAdjunto">

        <!-- #region Header descktop-->
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Certificación de ingresos</h3>
        </div>
        <!-- #endregion Header descktop-->

        <!-- #region Btn Atras-->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- #endregion Btn Atras-->
      
        <!-- #region previsualizacion-->
        <div class="vistaAdjunto vistaAdjunto--bot20">
            <!-- #region imagen previsualizada-->
            <div class="DivImg">
                <label class="DivImg__texto" for="">Pagina 1 de 4</label>
                <img class="DivImg__img" src="../images/foto-ejemplo4.jpg" alt="">
            </div>
            <!-- #endregion imagen previsualizada-->
            <!-- #region botones acciones-->
            <div class="DivAcciones">
                <div class="accion">
                    <div class="accion__img">
                        <img src="../images/eye-open.svg" alt="">
                    </div>
                    <p class="accion__texto">Ver</p>
                </div>
                <div class="accion">
                    <div class="accion__img">
                        <img src="../images/icon-camera.svg" alt="">
                    </div>
                    <p class="accion__texto">
                        Reemplazar
                        <br>
                        foto
                    </p>
                </div>
                <div class="accion accion--bot0">
                    <div class="accion__img">
                        <img src="../images/waste-bin.svg" alt="">
                    </div>
                    <p class="accion__texto">
                        Eliminar
                    </p>
                </div>
            </div>
            <!-- #endregion botones acciones-->
        </div>
        <!-- #endregion previsualizacion-->

        <!-- #region contenedor slider fotos-->
        <div class="contSlider">
            <!-- #region slider-->
            <div class="slider">
                <div class="contImgAdjunto contImgAdjunto--activo">
                    <img src="../images/foto-ejemplo3.jpg" class="contImgAdjunto__img" alt="">
                </div>
                <div class="contImgAdjunto">
                    <img src="../images/foto-ejemplo3.jpg" class="contImgAdjunto__img" alt="">
                </div>
                <div class="contImgAdjunto">
                    <img src="../images/foto-ejemplo3.jpg" class="contImgAdjunto__img" alt="">
                </div>
                <div class="contImgAdjunto">
                    <img src="../images/foto-ejemplo3.jpg" class="contImgAdjunto__img" alt="">
                </div>
            </div>
            <!-- #endregion slider-->
            <div class="agregar">
                <img src="../images/icon-mas.svg" class="agregar__img" alt="">
                <p class="agregar__p">
                    Agregar <br>
                    foto
                </p>
            </div>
        </div>
        <!-- #endregion contenedor slider fotos-->

        <!--separador-->
        <div class="separador">
            <hr class="separador__hr">
        </div>

        <!-- #region indicaciones-->
        <div class="indicacion">
            <p class="indicacion__p">
                Verifique las páginas adjuntadas de su <strong>carta</strong>
                <br>
                <strong>laboral, para continuar con el proceso.</strong>
            </p>
        </div>
        <!-- #endregion indicaciones-->


        <!-- #region btn Continuar-->
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- #endregion btn Continuar-->
    </section>

</body>

</html>