<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jsCertificacionIngresos.js"></script>
    <title>Davivienda S.A.</title>
</head>

<body>
    <div>
        
    </div>
    <section class="containerAdjunto">

        <!-- #region Header descktop-->
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Certificación de ingresos</h3>
        </div>
        <!-- #endregion Header descktop-->

        <!-- #region Btn Atras-->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- #endregion Btn Atras-->
      
        <!-- #region previsualizacion-->
        <div class="vistaAdjunto">
            <!-- #region imagen previsualizada-->
            <div class="DivImg">
                <label class="DivImg__texto" for="">Pagina 1 de 4</label>
                <img class="DivImg__img" src="../images/img-ejemplo.jpg" alt="">
            </div>
            <!-- #endregion imagen previsualizada-->
            <!-- #region botones acciones-->
            <div class="DivAcciones">
                <div class="accion">
                    <div class="accion__img">
                        <img src="../images/eye-open.svg" alt="">
                    </div>
                    <p class="accion__texto">Ver</p>
                </div>
                <div class="accion">
                    <div class="accion__img">
                        <img src="../images/icon-camera.svg" alt="">
                    </div>
                    <p class="accion__texto">
                        Reemplazar
                        <br>
                        foto
                    </p>
                </div>
            </div>
            <!-- #endregion botones acciones-->
        </div>
        <!-- #endregion previsualizacion-->

        <!--separador-->
        <div class="separador">
            <hr class="separador__hr">
        </div>

        <!-- #region indicaciones-->
        <div class="indicacion">
            <p class="indicacion__p">
                Verifique la <strong>foto de su colilla de pensión</strong>
                <br>
                para continuar con el proceso.
        </div>
        <!-- #endregion indicaciones-->


        <!-- #region btn Continuar-->
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- #endregion btn Continuar-->
    </section>

</body>

</html>