<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Asegurabilidad</h3>
        </div>
        
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>

        <div class="contentBox">
            <div class="container__selectContry">
                <h2 class="regular noMrgn">Consulte la ubicación de nuestras oficinas de 
                    crédito Davivienda por ciudad <b>disponibles para 
                    la firma del pagaré.</b></h2>
                <hr class="line">
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select1" onclick="selectionCity(1)">
                            <div class="icon" id="imageChange1">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Armenia</p>
                        </div>
                        <div class="selection" id="select2" onclick="selectionCity(2)">
                            <div class="icon" id="imageChange2">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Barranquilla</p>
                        </div>
                    </div>
                    <div class="contOption" id="option1">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option2">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select3" onclick="selectionCity(3)">
                            <div class="icon" id="imageChange3">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Bogotá</p>
                        </div>
                        <div class="selection" id="select4" onclick="selectionCity(4)">
                            <div class="icon" id="imageChange4">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Bucaramanga</p>
                        </div>
                    </div>
                    <div class="contOption" id="option3">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option4">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select5" onclick="selectionCity(5)">
                            <div class="icon" id="imageChange5">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Cali</p>
                        </div>
                        <div class="selection" id="select6" onclick="selectionCity(6)">
                            <div class="icon" id="imageChange6">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Cúcuta</p>
                        </div>
                    </div>
                    <div class="contOption" id="option5">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option6">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select7" onclick="selectionCity(7)">
                            <div class="icon" id="imageChange7">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Ibague</p>
                        </div>
                        <div class="selection" id="select8" onclick="selectionCity(8)">
                            <div class="icon" id="imageChange8">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Manizales</p>
                        </div>
                    </div>
                    <div class="contOption" id="option7">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option8">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select9" onclick="selectionCity(9)">
                            <div class="icon" id="imageChange9">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Medellín</p>
                        </div>
                        <div class="selection" id="select10" onclick="selectionCity(10)">
                            <div class="icon" id="imageChange10">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Montería</p>
                        </div>
                    </div>
                    <div class="contOption" id="option9">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option10">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select11" onclick="selectionCity(11)">
                            <div class="icon" id="imageChange11">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Neiva</p>
                        </div>
                        <div class="selection" id="select12" onclick="selectionCity(12)">
                            <div class="icon" id="imageChange12">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Pasto</p>
                        </div>
                    </div>
                    <div class="contOption" id="option11">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option12">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select13" onclick="selectionCity(13)">
                            <div class="icon" id="imageChange13">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Pereira</p>
                        </div>
                        <div class="selection" id="select14" onclick="selectionCity(14)">
                            <div class="icon" id="imageChange14">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Rioacha</p>
                        </div>
                    </div>
                    <div class="contOption" id="option13">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option14">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select15" onclick="selectionCity(15)">
                            <div class="icon" id="imageChange15">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Santa Marta</p>
                        </div>
                        <div class="selection" id="select16" onclick="selectionCity(16)">
                            <div class="icon" id="imageChange16">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>San Andrés</p>
                        </div>
                    </div>
                    <div class="contOption" id="option15">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option16">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select17" onclick="selectionCity(17)">
                            <div class="icon" id="imageChange17">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Sincelejo</p>
                        </div>
                        <div class="selection" id="select18" onclick="selectionCity(18)">
                            <div class="icon" id="imageChange18">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Tunja</p>
                        </div>
                    </div>
                    <div class="contOption" id="option17">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option18">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
                <div class="contSelectionCountry">
                    <div class="contSelect">
                        <div class="selection" id="select19" onclick="selectionCity(19)">
                            <div class="icon" id="imageChange19">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Valledupar</p>
                        </div>
                        <div class="selection" id="select20" onclick="selectionCity(20)">
                            <div class="icon" id="imageChange20">
                                <img src="../images/Trazado_3057.svg" alt="">
                            </div>
                            <p>Villavicencio</p>
                        </div>
                    </div>
                    <div class="contOption" id="option19">
                        <div class="textOptionTop">Calle 28 # 13A - 24. Local 5 Cusezar</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                    <div class="contOption" id="option20">
                        <div class="textOptionTop">.......................</div>
                        <div class="IconOption">
                            <img src="../images/Grupo 12631.svg" alt="">
                        </div>
                        <div class="textOptionBottom">
                            Lunes a Viernes de 8:00 am a 6:00pm<br>
                            Sábados de 10:00 am a 4:00pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Aceptar</button>
        </div>
        </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>