<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body id="bodyPopUp">
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Carta de aprobación</h3>
        </div>
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <h2 class="center noMrgnBottom noFullWidth">Verifique y consulte el estado en que se
            encuentra el proceso para financiar su vivienda </h2>
        <div class="contentBox colorDistint">
            <div class="container__credit pddigBottom">
                <div class="container__image">
                    <img src="../images/descargasImg.jpeg">
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Aprobación de cupo de crédito</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/Grupo5876.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit container__secundaryCredit--mostBottom">
                    <div class="containerData__title">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12394.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Evaluación de la vivienda</p>
                        </div>
                        <div class="contended__threeTitle">
                            <img src="../images/noun_Magnifying Glass_1790522.svg" alt="">
                        </div>
                    </div>
                    <div class="containerData__content">
                        <h2 class="center regular smallText noMrgnTop"> Inicie la búsqueda de la vivienda de sus sueños y 
                            consulte la información que debe entregar <b>según el 
                            tipo de proyecto:</b></h2>
                        <div class="containerIcon__Data">
                            <h2 class="smallText noMrgn center">Consulte la información:</h2>
                            <div class="containerData__Icon containerData__Icon--mrgnTop containerData__Icon--width90">
                                <div class="containerSingleIcon" onclick="changeStateActive(1)">
                                    <div class="icon">
                                        <img src="../images/Grupo12860.svg" alt="">
                                    </div>
                                    <div class="text">
                                        Vivienda nueva financiada por Davivienda.
                                    </div>
                                </div>
                                <div class="containerSingleIcon" onclick="changeStateActive(2)">
                                    <div class="icon">
                                        <img src="../images/Grupo12858.svg" alt="">
                                    </div>
                                    <div class="text">
                                        Vivienda nueva financiada por otro banco.
                                    </div>
                                </div>
                                <div class="containerSingleIcon" onclick="changeStateActive(3)">
                                    <div class="icon">
                                        <img src="../images/Grupo12859.svg" alt="">
                                    </div>
                                    <div class="text">
                                        Vivienda usada.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h2 class="regular noMrgn center smallText">En la oficina elegirá el tipo de financiación entre
                            <b>Crédito hipotecario o Leasing habitacional.</b></h2>
                    </div>
                </div>
                <a href="" class="contVideo">
                    <img src="../images/Grupo4176.svg" alt="">
                    <p class="video">
                        Conozca el detalle de esta etapa
                    </p>
                </a>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--disabled">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12480.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Firma de Documentos</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/Grupo5875.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--disabled">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12480.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Estudio de títulos</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/noun_Search Document_2417689.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--disabled">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12480.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Desembolso</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/Grupo5873.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contButtons">
            <p class="textButton">
                Si lo desea, puede modificar <a href="./InversionesporObjetivos.html" class="links-internas">aquí</a> las <br>
                condiciones de su crédito.
            </p>
            <button type="button" class="button button--secondary button--back">Regresar</button>
        </div>
    </section>
    <section class="popupPartOne" id="popupPartOne">
        
        <div class="container__credit container__credit--popUp container__credit--popUpOne">
            <div class="container__image container__image--actionFull">
                <img src="../images/Grupo12849.png">
                <p class="textTopCard center">Vivienda Nueva</p>
                <p class="textButtomCard center">Cuando el proyecto es financiado por Davivienda</p>
            </div>
            <div class="container__secundaryCredit widthFit">
                <div class="containerData__content popUpsChange">
                    <div class="containerIcon__Data containerIcon__Data--noMrgn">
                        <div class="subTitle subTitle--widthFull">
                            <img src="../images/Trazado_4258.svg" alt="">
                            <h2 class="regular noMrgn smallText"><b>Información</b> que debe tener de la vivienda: </h2>
                        </div>
                        <div class="containerIcon__Data changeColor">
                            <div class="containerData__Icon">
                                <div class="containerSingleIcon">
                                    <div class="icon icon--bigIcon">
                                        <img src="../images/noun_House Document_1464878.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <h2 class="regular smallText center noMrgn"><b>Datos del proyecto:</b> Nombre, Torre, etapa, 
                                número de apartamento/casa y tipo de 
                                garaje.</h2>
                        </div>
                        <hr>
                        <div class="subTitle">
                            <h2 class="regular noMrgn smallText"><b>Para continuar con el proceso</b> de evaluación
                                de la vivienda:</h2>
                        </div>
                        <div class="subTitle">
                            <img src="../images/Trazado_4258.svg" alt="">
                            <h2 class="regular noMrgn smallText">Entregue la información en la <b>oficina 
                                Davivienda de su preferencía</b> ó comuníquese 
                                con un <b>asesor de venta del proyecto.</b></h2>
                        </div>
                        <div class="subTitle subTitle--noMrgBottom">
                            <img src="../images/Trazado_4258.svg" alt="">
                            <h2 class="regular noMrgn smallText">Si el proyecto es <b>Vivienda de Interés Social
                                (VIS),</b> comuníquese con el asesor de venta
                                del proyecto.</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="contButtons contButtons--absolute contButtons--popUpOne">
            <button type="button" class="button button--primary" onclick="changeStateDesactive()">Regresar</button>
        </div>
    </section>
    <section class="popupPartTwo" id="popupPartTwo">
        <div class="container__credit container__credit--popUp container__credit--popUpTwo">
            <div class="container__image container__image--actionFull">
                <img src="../images/Grupo12849.png">
                <p class="textTopCard center">Vivienda Nueva</p>
                <p class="textButtomCard center">Cuando el proyecto es financiado por otro banco:</p>
            </div>
            <div class="container__secundaryCredit widthFit">
                <div class="containerData__content popUpsChange">
                    <div class="containerIcon__Data containerIcon__Data--noMrgn">
                        <div class="subTitle">
                            <img src="../images/Trazado_4258.svg" alt="">
                            <h2 class="regular noMrgn smallText"><b>Información y documentos</b> que debe entregar:</h2>
                        </div>
                        <div class="containerIcon__Data changeColor mrgnBottom">
                            <div class="containerData__Icon">
                                <div class="containerSingleIcon">
                                    <div class="icon icon--bigIcon">
                                        <img src="../images/noun_House Document_1464878.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <h2 class="regular smallText center noMrgn"><b>Datos del proyecto:</b> torre, etapa, 
                                número de apartamento/casa, tipo de 
                                garaje y la fecha de entrega.</h2>
                        </div>
                        <div class="containerIcon__Data changeColor">
                            <div class="containerData__Icon">
                                <div class="containerSingleIcon">
                                    <div class="icon icon--bigIcon">
                                        <img src="../images/Grupo12863.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <h2 class="regular smallText center noMrgn"><b>Certificado de tradición y libertad</b> del 
                                inmueble y si aplica, <b>certificado del 
                                garaje y depósito</b>, no mayor a 30 días.</h2>
                        </div>
                        <hr>
                        <div class="subTitle subTitle--widthFull">
                            <img src="../images/Trazado_4258.svg" alt="">
                            <h2 class="noMrgn smallText">Para continuar con el proceso:</h2>
                        </div>
                        <div class="subTitle subTitle--noMrgBottom">
                            <h2 class="regular noMrgn smallText">En la oficina Davivienda de su preferencia, 
                                haga <b>entrega de la información y realice el 
                                pago del avalúo</b>, el cual tiene un costo de  
                                $1000 por millón del valor de la vivienda.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contButtons contButtons--absolute contButtons--popUpTwo">
            <button type="button" class="button button--primary" onclick="changeStateDesactive()">Regresar</button>
        </div>
    </section>

    <!--Vivienda usada-->
    <section class="popupPartThree" id="popupPartThree">
        <div class="container__credit container__credit--popUp container__credit--popUpThree">
            <div class="container__image container__image--actionFull">
                <img src="../images/imagen-vivienda-cabecera.png">
                <p class="textTopCard center">Vivienda usada</p>
            </div>
            <div class="container__secundaryCredit widthFit">
                <div class="containerData__content popUpsChange">
                    <div class="containerIcon__Data containerIcon__Data--noMrgn ">
                        <div class="subTitle subTitle--widthFull">
                            <img src="../images/Trazado_4258.svg" alt="">
                            <h2 class="regular noMrgn smallText"><b>Información y documentos</b> que debe entregar:</h2>
                        </div>
                        <div class="containerIcon__Data changeColor mrgnBottom">
                            <div class="containerData__Icon">
                                <div class="containerSingleIcon">
                                    <div class="icon icon--bigIcon">
                                        <img src="../images/noun_House Document_1464878.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <h2 class="regular smallText center noMrgn"> <b>Datos del vendedor:</b>  Nombres y 
                                apellidos, número de identificación,  
                                teléfono y correo electrónico de contacto.
                        </div>
                        <div class="containerIcon__Data changeColor">
                            <div class="containerData__Icon">
                                <div class="containerSingleIcon">
                                    <div class="icon icon--bigIcon">
                                        <img src="../images/Grupo12863.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <h2 class="regular smallText center noMrgn"><b>Certificado de tradición y libertad</b> del 
                                inmueble y si aplica, <b>certificado del 
                                garaje y depósito</b>, no mayor a 30 días.</h2>
                        </div>
                        <hr>
                        <div class="subTitle subTitle--widthFull">
                            <img src="../images/Trazado_4258.svg" alt="">
                            <h2 class="noMrgn smallText">Para continuar con el proceso:</h2>
                        </div>
                        <div class="subTitle subTitle--noMrgBottom">
                            <h2 class="regular noMrgn smallText">En la oficina Davivienda de su preferencia, 
                                haga <b>entrega de la información y realice el 
                                pago del avalúo</b>, el cual tiene un costo de  
                                $1000 por millón del valor de la vivienda.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contButtons contButtons--absolute contButtons--popUpThree">
            <button type="button" class="button button--primary" onclick="changeStateDesactive()">Regresar</button>
        </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>