<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Carta de aprobación</h3>
        </div>
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <h2 class="center noMrgnBottom noFullWidth">Verifique y consulte el estado en que se
            encuentra el proceso para financiar su vivienda </h2>
        <div class="contentBox colorDistint">
            <div class="container__credit pddigBottom">
                <div class="container__image">
                    <img src="../images/descargasImg.jpeg">
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Aprobación de cupo de crédito</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/Grupo5876.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Evaluación de la vivienda</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/noun_Magnifying Glass_1790522.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Firma de Documentos</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/Grupo5875.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Estudio de títulos</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/noun_Search Document_2417689.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12394.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Desembolso</p>
                        </div>
                        <div class="contended__threeTitle">
                            <img src="../images/Grupo12861.svg" alt="">
                        </div>
                    </div>
                    <div class="containerData__content specialChange">
                        <div class="containerCardFinal">
                            <div class="container__image container__image--actionFull">
                                <img src="../images/imagen-vivienda-cabecera.png">
                                <p class="textCardT10">Felicitaciones, su crédito ha sido desembolsado al vendedor.</p>
                            </div>
                            <div class="contendedDataCard">
                                <div class="contSubTitleCard">
                                    <div class="subTitleCard">
                                        <img src="../images/Trazado_4346.svg" alt="">
                                        <h2 class="regular noMrgn smallText"><b>$50.000.000</b> en un plazo de <b>180 meses</b></h2>
                                    </div>
                                    <p>Número de crédito: <b>109383648505</b></p>
                                    <p>Tasa: <b>0,91% MV</b> ( 11.50% EA)</p>
                                    <hr>
                                    <div class="textBottom">
                                        <p>
                                            <b>Fecha de pago de su primera cuota:</b><br>
                                            12 de marzo de 2020
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="regular center noMrgn smallText short">
                            Gracias por permitirnos acompañarlo en su <b>sueño de tener casa propia.</b>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="contButtons">
        <button type="button" class="button button--secondary button--back">Regresar</button>
        <button type="button" class="button button--primary">Finalizar</button>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>