<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Carta de aprobación</h3>
        </div>
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <h2 class="center noMrgnBottom noFullWidth">Verifique y consulte el estado en que se
            encuentra el proceso para financiar su vivienda </h2>
        <div class="contentBox colorDistint">
            <div class="container__credit pddigBottom">
                <div class="container__image">
                    <img src="../images/descargasImg.jpeg">
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Aprobación de cupo de crédito</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/Grupo5876.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Evaluación de la vivienda</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/noun_Magnifying Glass_1790522.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Firma de Documentos</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/Grupo5875.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12394.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Estudio de títulos</p>
                        </div>
                        <div class="contended__threeTitle">
                            <img src="../images/Grupo2417689.svg" alt="">
                        </div>
                    </div>
                    <div class="containerData__content">
                        <h2 class="center regular smallText noMrgnTop">El pagaré ya ha sido firmado.<b> La constructora se encuentra realizando el estudio</b> 
                            de títulos y se comunicará con usted para realizar 
                            <b>el proceso de escrituración.</b></h2>
                        <div class="containerIcon__Data containerIcon__Data--noMrgn">
                            <div class="containerData__Icon">
                                <div class="containerSingleIcon">
                                    <div class="icon icon--bigIcon">
                                        <img src="../images/XMLID_386_.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <h2 class="regular smallText center noMrgn">Puede <b>consultar el estado</b> de este proceso
                                directamente con la <b>constructora del proyecto.</b></h2>
                        </div>
                    </div>
                    
                    <a href="" class="contVideo">
                        <img src="../images/Grupo4176.svg" alt="">
                        <p class="video">
                            Conozca el detalle de esta etapa
                        </p>
                    </a>
                </div>
                <div class="container__secundaryCredit">
                    <div class="containerData__title">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12480.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Desembolso</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--opacity50">
                            <img src="../images/Grupo5873.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="contButtons">
        <p class="textButton">
            Si lo desea, puede modificar <a href="#" class="links-internas">aquí</a> las <br>
            condiciones de su crédito.
        </p>
        <button type="button" class="button button--secondary button--back">Regresar</button>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>