<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container">
        <!--Titulos Escritorio-->
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Estado de su crédito</h3>
        </div>
        <!--boton Atras-->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!--Trackin -->
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
      
        <div class="contentBox colorDistint">
            <div class="container__credit pddigBottom mrgBottom">
                <!--titulo Encabezado-->
            <h2 class="center noMrgnBottom noFullWidth mrgnTopMini">Proceso de valoración médica</h2>
                <div class="container__secundaryCredit ">
                    <div class="containerData__title containerData__title--disabled">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo7529.svg" alt="">
                        </div>
                        <div class="contended__secondTitle contended__secondTitle--cambioColor">
                            <p>Exámenes médicos en curso</p>
                        </div>
                        <div class="contended__threeTitle  contended__threeTitle--escalaGrises">
                            <img src="../images/icon-vv-calendario.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="container__secundaryCredit container__secundaryCredit--beforShort">
                    <div class="containerData__title containerData__title--completed">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12394.svg" alt="">
                        </div>
                        <div class="contended__secondTitle">
                            <p>Estudio de los exámenes médicos</p>
                        </div>
                        <div class="contended__threeTitle">
                            <img src="../images/icon-vv-cruz.svg" alt="">
                        </div>
                    </div>
                    <div class="containerData__content">
                        <img class="imgreloj" src="../images/icon-vv-reloj.svg" alt="">
                        <h2 class="regular center mrgnBottoMini">
                            Nos encontramos <b> estudiando los resultados de
                            los exámenes médicos</b> que se realizó.
                            <br><br>
                            En máximo <b> 2 días hábiles</b> recibirá una 
                            notificación para consultar el resultado de la 
                            valoración médica.
                            </h2>
                    </div>
                </div>

                <div class="container__secundaryCredit">
                    <div class="containerData__title containerData__title--disabled">
                        <div class="contended__firstTitle">
                            <img src="../images/Grupo12480.svg" alt="">
                        </div>
                        <div class="contended__secondTitle contended__secondTitle--cambioColor">
                            <p>Respuesta de la aseguradora</p>
                        </div>
                        <div class="contended__threeTitle contended__threeTitle--escalaGrises">
                            <img src="../images/noun_Search Document_2417689.svg" alt="">
                        </div>
                    </div>
                </div>
                
            </div>
            <hr class="ceparador">
            <h2 class="regular center mrgnTopMini">
                Una vez finalizado el <b> proceso de valoración 
                médica,</b> recibirá una respuesta a su solicitud de crédito de vivienda.
            </h2>
        </div>
        <div class="contButtons">
            <p class="textButton">
                Si desea cambiar las condiciones de su crédito,<br> cancélelo  <a href="#" class="links-internas">aquí</a>y solicite uno nuevo. 
            </p>
            <button type="button" class="button button--secondary button--back">Regresar</button>
        </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>