<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jsCertificacionIngresos.js"></script>
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- #region Header descktop-->
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Estudio de crédito</h3>
        </div>
        <!-- #endregion Header descktop-->

        <!-- #region Btn Atras-->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- #endregion Btn Atras-->

        <!-- #region Nav indicador-->
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <!-- #endregion indicador-->

        <div class="contentBox contentBox--noPadButtom contentBox--f8">
            <div class="information__container">
                <p class="certificadp__title certificadp__title--bot0">
                    Para continuar con la adquisición de su crédito de
                    vivienda, es necesario que inicie y complete los
                    <strong> procesos de valoración médica y de certificación
                        de ingresos:</strong>
                </p>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de valoración médica</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-1.jpg" alt="">
                    </div>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        Este proceso es necesario para detallar las
                        <strong> condiciones del seguro</strong> de vida por parte de la
                        aseguradora.
                    </label>
                    <div class="contButtons">
                        <button id="btn" type="button" class="button button--primary">Iniciar</button>
                    </div>
                </div>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de valoración médica</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-1.jpg" alt="">
                    </div>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        <strong>Complete este proceso,</strong> para detallar las
                        <strong> condiciones del seguro de vida</strong> por parte de la
                        aseguradora.
                    </label>
                    <div class="contButtons">
                        <button id="btn" type="button" class="button button--primary">Continuar</button>
                    </div>
                </div>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de valoración médica</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-2.jpg" alt="">
                    </div>
                    <label for="" class="cardBoxMixta__descripcion">
                        La aseguradora se encuentra analizando los
                        datos ingresados.
                    </label>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        <strong>En las próximas X horas recibirá una </strong> <br>
                        notificación con el resultado.
                    </label>
                </div>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de valoración médica</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-1.jpg" alt="">
                    </div>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        Según la información que nos suministro, para
                        continuar es necesario que se realice <strong>exámenes
                            médicos complementarios.</strong>
                    </label>
                    <div class="contButtons">
                        <button id="btn" type="button" class="button button--primary">Continuar</button>
                    </div>
                </div>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de valoración médica</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-2.jpg" alt="">
                    </div>
                    <label for="" class="cardBoxMixta__descripcion">
                        Nos encontramos estudiando los resultados <br>
                        de los exámenes médicos que se realizó.
                    </label>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        <strong>En máximo x horas hábiles</strong> recibirá <br>
                        una notificación con el resultado.
                    </label>
                </div>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de valoración médica</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-3.jpg" alt="">
                    </div>
                    <label for="" class="cardBoxMixta__descripcion">
                        El proceso de <strong>valoración médica <br>
                            fue completado satisfactoriamente. </strong>
                    </label>
                    <hr>
                </div>

                <hr class="separador">

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de certificación de ingresos</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-4.jpg" alt="">
                    </div>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        Este proceso es necesario para <strong> certificar <br>
                            que sus ingresos</strong> corresponden a lo diligenciado <br>
                        en el formulario.
                    </label>
                    <div class="contButtons">
                        <button id="btn" type="button" class="button button--primary">Iniciar</button>
                    </div>
                </div>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de certificación de ingresos</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-4.jpg" alt="">
                    </div>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        Complete este proceso, para <strong>certificar que <br>
                            sus ingresos</strong> corresponden a lo diligenciado <br>
                        en el formulario
                    </label>
                    <div class="contButtons">
                        <button id="btn" type="button" class="button button--primary">Continuar</button>
                    </div>
                </div>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de certificación de ingresos</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-5.jpg" alt="">
                    </div>
                    <label for="" class="cardBoxMixta__descripcion">
                        Estamos evaluando los documentos adjuntados.
                    </label>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        En un <strong>plazo máximo de un día hábil</strong> recibirá una
                        notificación con el resultado de la evaluación.
                    </label>
                </div>

                <!--contenedor xx2-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de certificación de ingresos</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-5.jpg" alt="">
                    </div>
                    <label for="" class="cardBoxMixta__descripcion">
                        Continuamos evaluando los documentos.
                    </label>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        Debido a un proceso de verificación adicional,
                        <strong>la respuesta con el resultado la recibirá en
                            un máximo de dos días hábiles.</strong>
                    </label>
                </div>

                <!--contenedor xx-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de certificación de ingresos</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/icon-documento.linearoja.svg" alt="">
                    </div>
                    <hr>
                    <label for="" class="cardBoxMixta__descripcion">
                        Identificamos inconsistencias en los documentos, <br>
                        <strong>es necesario que los adjunte</strong> de nuevo según las
                        observaciones enviadas.
                    </label>
                    <div class="contButtons">
                        <button id="btn" type="button" class="button button--primary">Continuar</button>
                    </div>
                </div>

                <!-- contenedor-->
                <div class="cardBoxMixta">
                    <div class="cardBoxMixta__lista">
                        <img src="../images/Trazado_4258.svg" alt="">
                        <label class="txt">Proceso de certificación de ingresos</label>
                    </div>
                    <div class="cardBoxMixta__img">
                        <img src="../images/iconMixta-3.jpg" alt="">
                    </div>
                    <label for="" class="cardBoxMixta__descripcion">
                        El proceso de <strong>certificación de ingresos <br>
                            fue completado satisfactoriamente.</strong>
                    </label>
                    <hr>
                </div>

            </div>
        </div>

        <div class="condiciones">
            <p class="condiciones__p">
                Si lo desea, puede modificar <a href="#">aquí</a> las <br>
                condiciones de su crédito
            </p>
        </div>

        <!-- #region btn Continuar-->
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button id="btn" type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- #endregion btn Continuar-->
    </section>

</body>

</html>