<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jsCertificacionIngresos.js"></script>
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="containerAdjunto">

        <!-- #region Header descktop-->
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Certificación de ingresos</h3>
        </div>
        <!-- #endregion Header descktop-->

        <!-- #region Btn Atras-->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- #endregion Btn Atras-->
        <!-- #region previsualizacion-->
                <div class="containder_pdf">    
                        <iframe src="http://www.ataun.eus/bibliotecagratuita/Cl%C3%A1sicos%20en%20Espa%C3%B1ol/Federico%20Garc%C3%ADa%20Lorca/El%20p%C3%BAblico.pdf">
                </div>
            </div>
            <!-- #endregion imagen previsualizada-->
        </div>
        <!-- #endregion previsualizacion-->


        <!--separador
        <div class="separador">
            <hr class="separador__hr">
        </div> -->

        <!-- #region indicaciones
        <div class="indicacion">
            <p class="indicacion__p">
                Verifique los pdf de los <strong>extractos bancarios</strong>
                <br>
                adjuntados <strong>para continuar con el proceso.</strong>
            </p>
        </div>
         #endregion indicaciones-->


        <!-- #region btn Continuar
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
         #endregion btn Continuar-->
    </section>

</body>

</html>