<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container" id="allContainer--hidden" style="display: block;">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Estudio de crédito</h3>
        </div>
        
        <div class="trackingMain trackingMain--mrgTopMax">
            <div class="trackingMain__dataNav">
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <div class="studyCredit__container">
            <div class="allContainer allContainer--hidden">
                <div class="container_checkData container_checkData--sinMrg">
                    <span class="icon-dv-resultCheck icon"></span>
                    <div class="checkData__text">
                        <strong>Felicitaciones</strong>
                        <p class="mrgBottoMax">
                            Su seguro ha sido aceptado con un <b>recargo en la cobertura de Vida de xx%.</b> 


                            <br><br>
                            Verifique las nuevas condiciones para continuar el proceso:
                        </p>
                    </div>
                </div>
                <form action="">
                    <div class="container_radioBox">
                        <div class="container__radioPrimary">
                            <div class="input">
                                <label class="radio radio--optionCard radio--optionCard--toggle">
                                    <div class="optionCard__dataTop">
                                        <div class="optionCard__info optionCard__info--sinWidth">
                                            <p class="mrgBotton">Valor del crédito:</p>
                                            <div class="br"></div>
                                            <p><b>$50.000.000</b> en un plazo de <b>180 meses</b></p>
                                        </div>
                                        <div class="img" style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url('../../images/Grupo7023.png');"></div>
                                    </div>
                                </label>
                                <div class="optionCard__dataMedium">
                                    <h2 class="noMrgn center">Cuota mensual aproximada con seguros:</h2>
                                    <hr>
                                    <div class="text">
                                        <div class="itemIcon">
                                            <img src="../../images/star.svg" alt=""  class="iconImage">
                                        </div>
                                        <div class="containerText">
                                            <div><b>Leasing habitacional: $622.044</b> 
                                                <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                                                <div class="tooltip">
                                                    <p>
                                                        <b>Leasing Habitacional:</b>
                                                        <br><br>
                                                        Esta es la cuota mensual calculada en pesos con una opción de compra del 0%. Recuerde que este valor no puede superar el equivalente al 30% de sus 
                                                        ingresos mensuales.
                                                        <br><br><br>
                                                        <b>Valor total unificado (VTU): $102.836.664</b>
                                                        <br><br>
                                                        Este valor resulta de la sumatoria 
                                                        proyectada del capital, intereses y seguro 
                                                        de vida que serán pagados a Davivienda 
                                                        durante el plazo del crédito. 
                                                        <br><br>
                                                        Capital: $50.000.000<br>
                                                        Intereses: $46.946.164<br>
                                                        Seguros: $5.890.500 
                                                        <br><br>
                                                        Este valor es susceptible de disminución en 
                                                        los casos de pago anticipado parcial o total 
                                                        del crédito.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="br"></div>
                                            <div>Hipotecario VIS:<b> $643.044</b> 
                                                <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                                                <div class="tooltip">
                                                    <p>
                                                        <b>Hipotecario Vivienda de interes social (VIS)</b>
                                                        <br><br>
                                                        Esta cuota es calculada en pesos, no puede superar el equivalente al 30% de su ingreso mensual.
                                                        <br><br><br>
                                                        <b>Valor total unificado (VTU): $106.788.416</b>
                                                        <br><br>
                                                        Este valor resulta de la sumatoria 
                                                        proyectada del capital, intereses y seguro 
                                                        de vida que serán pagados a Davivienda 
                                                        durante el plazo del crédito. 
                                                        <br><br>
                                                        Capital: $50.000.000<br>
                                                        Intereses: $53.202.916<br>
                                                        Seguros: $3.585.500 
                                                        <br><br>
                                                        Este valor es susceptible de disminución en 
                                                        los casos de pago anticipado parcial o total 
                                                        del crédito.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="br"></div>
                                            <div>Hipotecario no VIS:<b> $645.000</b> 
                                                <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo icon"></span></a>
                                                <div class="tooltip">
                                                    <p>
                                                        <b>Hipotecario no VIS</b>
                                                        <br><br>
                                                        Esta cuota es calculada en pesos, no puede superar el equivalente al 30% de su ingreso mensual.
                                                        <br><br><br>
                                                        <b>Valor total unificado (VTU):  $106.814.416</b>
                                                        <br><br>
                                                        Este valor resulta de la sumatoria 
                                                        proyectada del capital, intereses y seguro 
                                                        de vida que serán pagados a Davivienda 
                                                        durante el plazo del crédito. 
                                                        <br><br>
                                                        Capital: $50.000.000<br>
                                                        Intereses: $50.923.916<br>
                                                        Seguros: $5.890.500 
                                                        <br><br>
                                                        Este valor es susceptible de disminución en 
                                                        los casos de pago anticipado parcial o total 
                                                        del crédito.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="optionCard__seeMore clicked" id="seemore--firstCard"> <span class="icon-dv-arrowDownBG icon"></span>Conocer más</a>
                                <div class="optionCard__moreInfo optionCard__moreInfo--toggle" style="display: none;">
                                    <br>
                                    <div class="item">
                                        <span class="icon-dv-listItemB icon"></span>
                                        <span>En caso de fallecimiento o incapacidad total y permanente, cubrirá el saldo de su deuda.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="contButtons">
            <button type="button" class="button button--secondary">Cancelar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
    </section>
    <section class="container" id="optionOne" style="display: none;">
        <div class="studyCredit__container">
            <div class="optionCard__moreInfo optionCard__moreInfo--hidden" id="optionOne">
                <div class="containerDataHidden">
                    <div class="containerDataHidden--color">
                        <div class="container__imageText" style="background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../images/Grupo7023.png');">
                            <p>Valor del crédito:</p>
                            <p class="money">$50.000.000</p>
                            <div class="br"></div>
                            <p>En un plazo de: <br><b>180 meses</b></p>
                        </div>
                        <h2 class="center noMrgn">Cuota mensual apróximada con seguros:</h2>
                        <hr class="topLine">
                        <div class="container_infoCard">
                            <div class="studyCreditMore__container">
                                <div class="containerData">
                                    <div class="text">
                                        <div class="item">
                                            <div class="itemIcon">
                                                <img src="../../images/star.svg" alt=""  class="iconImage">
                                            </div>
                                            <div class="containerText">
                                                <div class="title">Leasing habitacional: $622.044</div>
                                                <p>Tasa: <b>0,85% MV</b> ( 10.75% EA)</p>
                                                <p>Valor mínimo del inmueble: <b>$111.795.660</b></p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="text">
                                        <div class="item">
                                            <div class="itemIcon">
                                                <span class="icon-dv-listItemB icon"></span>
                                            </div>
                                            <div class="containerText">
                                                <div class="title">Hipotecario:</div>
                                                <p class="br"></p>
                                                <div class="title">VIS $643.044</div>
                                                <p>Tasa: <b>0,91% MV</b> ( 11.50% EA)</p>
                                                <p>Valor mínimo del inmueble: <b>$70.630.000</b></p>
                                                <p class="br"></p>
                                                <div class="title">No VIS $645.000</div>
                                                <p>Tasa: <b>0,95% MV</b> ( 11.50% EA)</p>
                                                <p>Valor mínimo del inmueble: <b>$111.795.660</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="contVideo">
                                <img src="../../images/Grupo4176.svg" alt="">
                                <p class="video">
                                    Conozca los beneficios de Leasing habitacional
                                </p>
                            </a>
                            <h2 class="regular center noMrgn size">Una vez haya encontrado el inmueble que desea comprar, <b>podrá elegir entre estos dos tipos de financiación</b></h2>
                        </div>
                    </div>
                    <div class="contButtons">
                        <button type="button" class="button button--secondary" id="seeless--firstCard">Volver</button>
                        <button type="button" class="button button--primary">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../js/main.js"></script>
    <script type="text/javascript">
        document.getElementById('seemore--firstCard').onclick=function(){
            document.getElementById('allContainer--hidden').style.display = 'none';
            document.getElementById('optionOne').style.display = 'block';
        }
        document.getElementById('seeless--firstCard').onclick=function(){
            document.getElementById('allContainer--hidden').style.display = 'block';
            document.getElementById('optionOne').style.display = 'none';
        }
</script>
</body>
</html>