<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <title>Davivienda S.A.</title>
</head>
<body>
    <section class="container" id="allContainer--hidden" style="display: block;">
        <div class="titlesHeader--Desktop">
            <h1>Vivienda Móvil</h1>
            <h3>Estudio de crédito</h3>
        </div>
        
        <div class="trackingMain trackingMain--mrgTopMax">
            <div class="trackingMain__dataNav">
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <div class="studyCredit__container">
            <div class="allContainer--hidden">
                <div class="container_checkData">
                    <span class="icon-dv-resultFail icon"> </span>
                    <div class="checkData__text">
                        <p>
                            Lo sentimos, su solicitud de crédito <b>no ha sido aprobada. </b><br>
                            No cumple con las políticas de evaluación de crédito definidas para este producto.
                        </p>
                    </div>
                </div>
            </div>
        <div class="spaceButtonText"></div>
        </div>
        <div class="contButtons">
            
            <button type="button" class="button button--primary">Continuar</button>
        </div>
    </section>
    <script src="../../js/main.js"></script>
</body>
</html>