//Temporal
.input{
    //RangeSliders
    &.input--rangeSlider{
        label{
            margin-bottom: 25px;
        }
        //Focus input reset
        input[type="range"]{
            &:focus+.rangeslider{
                .rangeslider__handle{
                    box-shadow: 1px 1px 1px #ccc;
                }
            }
        }
        &.input--rangeSliderNumber{
            .input--rangeSlider__bubble{
                font-size: $font-p - 4;
                &::before{
                    content: "$";
                    font-size: $font-p - 4;
                }
            }
        }
        .input__quantityNumbers, .input__quantityTitles{
            @include prefix((
                display: flex,
                align-items: center,
                justify-content: space-between
            ), webkit moz ms);
            width: 100%;
            margin-bottom: 5px;
            span, strong{
                color: $negro-57;
                font-size: $font-p - 2;
            }
            strong{
                font-weight: bold;
                color: #a3a3a3;
            }
        }
        .input__quantityTitles{
            margin-bottom: 0;
            margin-top: 5px;
        }

        //RangeSlider Bubble
        .input--rangeSlider__bubble {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 20px;
            padding: 5px;
            position: absolute;
            bottom: -90%;
            margin-bottom: 25px;
            margin-left: -15px;
            text-align: center;
            border-radius: 50px;
            background-color: $gris-a7;

            font-size: $font-p - 2;
            color: #fff;
            &:after{
                content: "";
                border-width: 11px;
                border-style: solid;
                border-color: transparent;
                display: block;
                margin: auto;
                width: 1px;
                position: absolute;
                bottom: -6px;
                left: 50%;

                border: 10px solid $gris-a7;
                border-bottom: none;
                border-left-color: transparent;
                border-right-color: transparent;

                @include prefix((
                    transform: translateX(-50%)
                ), webkit mox ms);
            }
        }

        //Rangeslider bar
        .rangeslider{
            &.rangeslider--horizontal{
                height: 6px;
                border: 0;
                background-color: $gris-cc;
                box-shadow: none;
            }
            .rangeslider__fill{
                background-color: $gris-a7;
                box-shadow: none;
            }
        }

        //RangeSlider Handle
        .rangeslider__handle{
            background-image: none;
            background: #fff;
            width: 20px;
            height: 10px;
            border-radius: 25px;
            top: -2px;
            box-shadow: 1px 1px 1px #ccc;
            border: 0;
            outline: none;
            &::after{
                display: none;
            }
        }
    }
}

.input{
    &--rangeSlider{
        .rangeSlider__bubbleIndicator{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $gris-93;
            color: white;
            font-weight: bold;
            font-size: 0.7em;
            left: 5px;
            bottom: 40px;
            position: absolute;
            @include prefix((
                box-sizing: border-box,
                display: flex,
                justify-content: center,
                align-items: center,
                // transform: translateX(2.2em),
            ), webkit moz o ms);
            &:before{
                content: '';
                position: absolute;
                width: 0; 
                height: 0; 
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 14px solid $gris-93;
                top: 23px;
            }
            label{
                position: absolute;
                top: 50%;
                left: 50%;
                margin: auto;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #fff;
                font-size: $font-p - 2;
            }
        }
        input{
            width: 100%;
            height: 5px;
            border-radius: 5px;   
            background: $gris-cc;
            outline: none;
            cursor: pointer;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $gris-93), color-stop(100%, $gris-93));
            background-image: -webkit-linear-gradient($gris-93, $gris-93);
            background-image: -moz-linear-gradient($gris-93, $gris-93);
            background-image: -o-linear-gradient($gris-93, $gris-93);
            background-image: linear-gradient($gris-93, $gris-93);
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            cursor: pointer;
            @include prefix((
                box-sizing: border-box,
                appearance: none
            ), webkit moz o ms);
            &::-webkit-slider-runnable-track 
            {
                box-shadow: none;
                border: none;
                background: transparent;
                -webkit-appearance: none;
                @include prefix((
                    box-sizing: border-box,
                    appearance: none
                ), webkit moz o ms);
            }

            &::-moz-range-track 
            {
                box-shadow: none;
                border: none;
                background: transparent;
            }

            &::-moz-focus-outer 
            {
                border: 0;
            }

            &::-webkit-slider-thumb 
            {
                width: 21px;
                height: 10px;
                border-radius: 5px; 
                background: white;
                position: relative;
                cursor: pointer;
                box-shadow: 1px 2px 3px rgba($color: $gris-3a, $alpha: .2);
                @include prefix((
                    box-sizing: border-box,
                    appearance: none
                ), webkit moz o ms);
            }

            &::-moz-range-thumb 
            {
                width: 21px;
                height: 10px;
                border-radius: 5px; 
                background: white;
                cursor: pointer;
                box-shadow: 1px 2px 3px rgba($color: $gris-3a, $alpha: .2);
                cursor: pointer;
                @include prefix((
                    box-sizing: border-box,
                    appearance: none
                ), webkit moz o ms);
            }

            &::-ms-ticks-after 
            { 
                display: none; 
            }

            &::-ms-ticks-before 
            { 
                display: none; 
            }

            &::-ms-track 
            { 
                background: gray;
                color: transparent;
                border: none;
            }

            &::-ms-tooltip 
            { 
                display: none;
            }
        }
        .rangeSlider__quantityNumbers, .rangeSlider__quantityTitles{
            @include prefix((
                display: flex,
                align-items: center,
                justify-content: space-between
            ), webkit moz ms);
            width: 100%;
            margin-bottom: -5px;
            span, strong{
                color: $negro-57;
                font-size: $font-p - 2;
            }
            strong{
                font-weight: bold;
                color: #a3a3a3;
            }
        }
        .rangeSlider__quantityTitles{
            margin-bottom: 0;
            margin-top: 5px;
        }
    }
}


//slider formularios
.contSlider{
    @include flexBox;
    justify-content: center;
    margin-bottom: 30px;
    .slider{
        position: relative;
        @include flexBox;
        flex-wrap: nowrap;
        overflow-x: auto;
        max-width: calc(100% - 111px);    
        overflow-wrap: unset;
        direction: rtl;
        padding-top: 10px;
        .contImgAdjunto{
            width: 65px;
            height: 65px;
            background-color: #FFFFFF;
            border-radius: 6px;
            overflow: hidden;
            margin: 0px 6px;
            flex: 0 0 auto;
            &__img{
                width: 100%;
            }
            &--activo{
                border: 1.5px solid $gris-57;
                &::before{
                    content: "";
                    position: absolute;
                    margin-top: -7px;
                    margin-right: 55px;
                    width: 14px;
                    height: 14px;
                    background-image: url("../images/icon-seleccion.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        &::-webkit-scrollbar {
            width: 8px;     /* Tama単o del scroll en vertical */
            height: 8px;    /* Tama単o del scroll en horizontal */
            display: none;  /* Ocultar scroll */
        }
    }
    .agregar{
        @include flexBox-center;
        flex-direction: column;
        width: 65px;
        height: 65px;
        background-color: #FFFFFF;
        border-radius: 6px;
        margin-right: 39px;
        margin-left: 6px;
        margin-top: 10px;
        &__img{
            margin-bottom: 4.7px;;
        }
        &__p{
            @include fuentesJD(10, 400, #000000, 12px);
            opacity: 0.3;;
        }
        &__sinSlider{
            margin-right: 0px;
        }
    }
}

//slider de la pantalla completa
.contSliderBig{
    @include flexBox;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    &__siguiente{
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: calc(100% - 23px);
        width: 9%;
        z-index: 2;
    }
    &__atras{
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: calc(100% - 23px);
        width: 9%;
        z-index: 2;
    }
    .slider{
        position: relative;
        @include flexBox;
        width: 100%;
        flex-wrap: nowrap;  
        overflow-wrap: unset;
        direction: rtl;
        margin-top: 23px;
        z-index: 1;
        transition: all 0.5s ease;
        .contImgAdjunto{
            width: 80%;
            height: 65vh;
            background-color: #FFFFFF;
            border-radius: 6px;
            overflow: hidden;
            margin: 0px 6px;
            flex: 0 0 auto;
            padding: 17px;
            &__img{
                width: 100%;
            }
            &--first{
                margin-right: 9%;
            }
        }
        label{
            @include fuentesJD(16, 400, $gris-57, 21px);
            text-align: center;
            margin-bottom: 19px;
        }
        &::-webkit-scrollbar {
            width: 8px;     /* Tama単o del scroll en vertical */
            height: 8px;    /* Tama単o del scroll en horizontal */
            display: none;  /* Ocultar scroll */
        }
    }
}